* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
/* floor */

.justify-content-center {
    position: sticky;
   
}

/* .bac_button button {
    margin-top: 10px;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #1d9fb9;
    color: white;
    margin-left: 40px;
    cursor: pointer;

}

.bac_button button:hover {
    background-color: #198aa0;

} */

.header_body {
    /* margin-top: -30px; */
    height: 70px;
    padding: 4px;
    margin-left: 250px;
    background-color: #236ca3;
}

.sidenav {

    background: #236ca3;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    /* transition: 1.5s; */
    /* transition-property: left; */
    /* margin-top: 30px; */

}


.sidenav img {
    width: 250px;
    height: 70px;
    /* margin-top: 2px; */
    margin-bottom: 60px;

}

.sidenav a {
    margin-top: 5px;
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transform: 0.5s;
    transition-property: background;
}

.sidenav a:hover {
    text-decoration: none;
    margin-bottom: 5px;
    width: 230px;
    background: #fff;
    color: #0e3959;
    margin-left: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: 0.9s;
}

.sidenav i {
    padding-right: 10px;
}




/* page styling */
.page_body {
    margin-left: 250px;

}

.lab {
    margin-top: 50px;
    padding: 20px;
    text-align: center;
}

.lab i {
    font-size: 4.0em;
}

/* nav start */

.header_body .search {
    width: 430px;
    height: 40px;
    border: none;
    margin-left: 150px;
    border-radius: 50px;
    display: flex;
    background: #ffffff;

    margin-top: 5px;
    margin-bottom: 25px;
    align-items: center;
}


.header_body .icon {
    margin: 10px;
    align-items: center;
}

.header_body .icon i {
    font-size: 1.2em;
    color: rgb(128, 126, 126);
}


.input input[type=search] {
    width: 380px;
    height: 35px;
    padding: 20px;
    border-radius: 15px;
    float: right;
    border: none;
    outline: none;
    border-left: solid rgb(112, 110, 110) 2px;
}

/* .input input[type=search]::placeholder{
    font-size: 1.0em;
} */

.header_body .profile {
    float: right;
    margin-top: -64px;
    margin-right: 20px;

    width: 180px;


}

.profile .fa-ellipsis-v {
    font-size: 1.5em;
    color: rgb(86, 85, 85);
    margin-bottom: 20px;

}

.profile .fa-user-circle {
    font-size: 2.1em;
    color: #fcfcfd;
    transition: 0.3s;
    cursor: pointer;
}




.profile .fa-bell {
    margin-right: 35px;
    font-size: 1.7em;
    color: rgb(241, 186, 48);
    cursor: pointer;

}

.profile .fa-bell:hover {
    color: rgb(241, 186, 48);


}

.profile span {
    background: rgb(190, 37, 37);
    border-radius: 50%;
    color: white;
    font-weight: bold;
    padding: 2px;
    font-size: 10px;
    margin-right: -9px;



}

.sidenav p {
    margin-bottom: 30px;
    text-align: center;
    color: white;
    font-weight: 600px;
    overflow: hidden;
}

#flore {
    float: right;

}

.active {
    margin-left: 5px;
    background: #fff;
    color: #0e3959;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

}

.active span {
    color: #0e3959;
}

.active i {
    color: #0e3959;
}

.trxtNormal {
    margin: 20px;
}






/* profilr */



.trxtNormal {
    /* margin: 20px; */

}

#Normaltext {
    font-size: 1.3em;
}

.btn-group {
    float: right;
    margin-right: 26px;

}

/* box style */

.container {
    height: auto;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    padding: 50px;
}

/* .box:hover {
    position:absolute;
    transform: translateY(-5px);
    transition: 0.5s;
    box-shadow: 0px 0px 10px 10px rgba(99, 147, 160, 0.2);

} */

.col-sm {
    position: static;
    display: inline;
    border: none;
    height: 140px;
    width: 300px;
    padding: 20px;
    border-radius: 13px;
    cursor: pointer;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(97, 186, 255, 1) 0%, rgba(166, 239, 253, 1) 90.1%);
}

.col-sm .fa-computer {
    color: black;
    margin-top: 18px;
    float: left;
    font-size: 3.5em;
    padding: 10px;
    border-right: 4px solid #f75023;

}


.col-sm h4 {
    /* margin-right: 20px; */
    padding: 10px;
    color: #0e3959;
    /* float: right; */
    /* border-left: 4px solid #f75023; */
    font-weight: 700;
    text-align: center;

}

.form_section {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: none;

}

.form_center {
    padding: 20px;
    width: 500px;
    /* height: 300px; */
    background-color: white;
    opacity: 1;
    border-radius: 5px;


}

#sub_btn {
    width: 90px;
    height: 33px;
    border: none;
    background-color: rgb(58, 87, 142);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

#close {
    margin-top: -10px;
    float: right;
    font-size: 1.7em;
    margin-right: -10px;
    cursor: pointer;

}

#close:hover {
    color: rgb(205, 40, 3);
}


.fa-list-ul{
    font-size: 1em;
    float: right;
}
.fa-list-ul:hover{
    color: #f75023;
}

/* button style */
.page_body .page-btn {
    margin-top: 200px;
    margin-left: 430px;
    display:flex;
}

.page_body .page-btn span {
    display: inline-block;
    margin-left: 10px;
    text-align: center;
    cursor: pointer;
    font-weight: 400;
    border-radius: 20px;
    padding: 14px;
    box-shadow: 6px 6px 10px -1px rgba(0 0 0 /.15),
        -6px -6px 10px -1px rgba(255 255 255 / .7);
}

.page-btn span:hover {
    background: #236ca3;
    color: #fff;
}


/* box style sudip */

.next_active {
    background: #236ca3;
    color: white;
}

/* loding the page */
#preloader {
    background: rgb(12, 30, 48) url(../Img/preloader.gif) no-repeat center;
    background-size: 30%;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100;
}

/* lab add button */
.labAddBtn{
    float: right;
    display:flex;
    margin-right: 5%;
}

.labAddBtn button{
    /* display: inline-block; */
    text-decoration: none;
    background: rgb(35, 154, 218);
    color: aliceblue;
    width: 60px;
    height: 60px;
    /* line-height: 95px; */
    border-radius: 50%;
    text-align: center;
    /* font-size: medium; */
    font-weight: bold;
    transition: 0.4s all;
    text-decoration: none;
    overflow: hidden;
    border: none;
    margin-right:20px;
}
.labAddBtn button:hover{
    background-color: #fff;
    box-shadow: 0px 2px 10px 5px #97b1bf;
    color: #000;
}
.labAddBtn button i{
    font-size: 1.2em;
}

.col-sm .fa-trash{
    float: right;
    color: rgb(173, 25, 25);

}

@media screen and (Max-width: 1025px) {
    body {
        margin: 0;
        padding: 0;
    }

    .sidenav {
        background: #236ca3;
        left: -190px;
        /* display: none; */
    }

    .sidenav a {
        cursor: pointer;
        font-size: 20px;
        margin-left: 170px;
        width: 80px;
    }

    .sidenav span,
    p {
        display: none;
    }

    .sidenav img {
        display: none;

    }

    .header_body {
        background: white;
    }

    .search {
        width: 100px;
        height: 40px;
        border: none;
        margin-left: -150px;
        border-radius: 50px;
        display: flex;
        background: #aeb1b1;
        margin-top: 39px;
        margin-bottom: 25px;
        align-items: center;
    }

    .icon {
        margin: 10px;
        align-items: center;
        color: black;
    }

    .icon i {
        font-size: 1.2em;
        color: black;
    }

    .input input[type=search] {
        background: #b1aeae;
        width: 280px;
        height: 35px;
        padding: 20px;
        border-radius: 15px;
        float: right;
        border: none;
        outline: none;
        border-left: solid rgb(112, 110, 110) 2px;
    }

    .search .input input[type=search]::placeholder {
        color: black;
    }

    .profile {
        position: absolute;
        float: right;
        margin-top: -64px;
        margin-left: 480px;
        width: 180px;

    }

    .profile .fa-user-circle {

        cursor: pointer;
        font-size: 2.1em;
        color: rgb(251, 136, 54);
        transition: 0.3s;
    }

    .page_body {
        margin-left: 50px;

    }

    .container {
        display: grid;
        gap: 35px;
        padding-top: 40px;
        grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
        border-radius: 5px;
    }

    .box:hover {
        transform: translateY(-5px);
        transition: 0.5s;
        box-shadow: 0px 0px 10px 10px rgba(99, 147, 160, 0.2);

    }



}