
.popup_profile {
    float: right;
    width: 300px;
    display: none;
    overflow:hidden;
    position:absolute;
    margin: 0px 0px 0px 58%;
    background: #236ca3;
    border-radius: 10px;

}

.showp {
    display:block;
}

.profile_card {
    height:auto;
    width: 300px;
    padding: 20px;

}


.profile_card input[type="button"] {
    margin: 5px;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 30px;


}

.profile_card input[type="button"]:hover {
    background-color: hsl(0, 1%, 72%);
    /* color: white; */
}

.profile_card p {
    margin: 5px;
    font-size: 1.0em;
    color: white;
    text-align: center;
    /* margin-top: 134px; */

}
.profile_card img {
    height: 173px;
    width: 134px;
    margin-left: 25%;
    margin-top: -22px;
    clip-path: circle(39%);
}